/Arrow.class
/Checkup.class
/Contact.class
/ContactBook.class
/CountDogs.class
/Fridge.class
/Greetings.class
/Hello.class
/LeapYear.class
/LeftN.class
/LoneSum.class
/MostFrequentDigit.class
/PairwiseSum.class
/Patient.class
/PhoneShop.class
/SameNumbers.class
/ThreeDice.class
